@typeparam TItem
@inherits ComboBoxBase<TItem>
@namespace bgbahasajerman_RazorClassLibrary.Components.Components.Controllers.ComboBoxes

<div class="combo">
    @* Use base properties/methods; show type for quick verification *@
    <p>Combo placeholder (T = @typeof(TItem).Name)</p>
</div>